/* 
    TABLE OF CONTENTS
    ========================================================================= */
/*      1. CSS RESET
        2. DOCUMENT STYLES
        3. TYPOGRAPHY 
        4. HEADER 
            4.1. MAIN NAVIGATION
        5. PAGE TITLES
        6. CUSTOM SECTION BACKGROUNDS
        7. ELEMENTS
            7.1. ACCORDION
            7.2. BUTTONS
            7.3. CUSTOM HEADINGS
                7.3.1. CUSTOM HEADING STYLE 1
                7.3.2. CUSTOM HEADING STYLE 2 - CENTERED WITH SUBTITLE
            7.4. GALLERIES
                7.4.1. ISOTOPE GALLERY
                7.4.2. CAROUSEL GALLERY
                7.4.3. SIMPLE GALLERY WITH THUMBNAILS
            7.5. OWL CAROUSEL - GENERAL
            7.6. QUOTES
                7.6.1. QUOTE STYLE 1
                7.6.2. QUOTE STYLE 2
                7.6.3. QUOTE STYLE 3
            7.7. SERVICES FEATURE BOX
            7.8. TEAM MEMBERS
            7.9. TESTIMONIALS
                7.9.1. TESTIMONIAL CAROUSEL
                7.9.2. TESTIMONIAL CAROUSEL STYLE 2 - WIDGET
        8. NEWS
            8.1. LATEST POSTS
            8.2. NEWS LIST
            8.3. NEWS SINGLE POST
        9. CONTACT
        10. WIDGETS
            10.1. NAV MENU WIDGET
            10.2. TEXT WIDGET
            10.3. LATEST POSTS WIDGET
            10.4. ARCHIVES WIDGET
            10.5. CATEGORIES WIDGET
            10.6. PAGES WIDGET
            10.7. META WIDGET
            10.8. CALENDAR WIDGET
            10.9. RECENT COMMENTS WIDGET
            10.10. RSS WIDGET
            10.11. SEARCH WIDGET
            10.12. TAG CLOUD WIDGET
            10.13. SHARRRE WIDGET
        11. FOOTER
*/

@font-face {
	font-family: 'hacen';
	src: url('../fonts/hacen.eot');
	src: url('../fonts/hacen.eot?#iefix') format('embedded-opentype'), url('fonts/hacen.woff') format('woff'), url('../fonts/hacen.ttf') format('truetype'), url('fonts/hacen.svg#hacen') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
font-family: 'DroidKufi-Regular';
src: url('../fonts/DroidKufi-Regular.eot');
src: url('../fonts/DroidKufi-Regular.eot?') format('embedded-opentype'),
url('../fonts/DroidKufi-Regular.woff') format('woff'),
url('../fonts/DroidKufi-Regular.ttf') format('truetype'); 
}

@font-face {
font-family: 'CoconNextArabic-Light';
src: url('../fonts/CoconNextArabic-Light.eot');
src: url('../fonts/CoconNextArabic-Light.eot?') format('embedded-opentype'),
url('../fonts/CoconNextArabic-Light.woff') format('woff'),
url('../fonts/CoconNextArabic-Light.ttf') format('truetype'); 
}

@font-face {
font-family: 'ge_flow_regular';
src: url('../fonts/ge_flow_regular.eot');
src: url('../fonts/ge_flow_regular.eot?') format('embedded-opentype'),
url('../fonts/ge_flow_regular.ttf') format('truetype'); 
}

/* ==========================================================================
    1. CSS RESET
    ========================================================================= */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ul ul,
ul ol,
ol ul,
ol ol{
    padding-left: 40px;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*:focus {
    outline: 0;
    text-decoration: none;
}
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
}

/* ==========================================================================
    2. DOCUMENT STYLES
    ========================================================================= */
body {
    font-family: 'DroidKufi-Regular' !important;
    font-size: 14px;
    line-height: 22px;
    color: #777777;
    background-color: #fff;
}
.tp-caption,.tp-big-heading,.tp-big-heading-bold, .tp-white .sfb, .tp-small-heading {
    font-family: 'DroidKufi-Regular' !important;
}
.row {
    margin-bottom: 70px;
}
.row-equal-height {
    display: table;
}
.row-equal-height *[class^="col-"] {
    display: table-cell;
    float: none;
}
.centered {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.img-responsive {
    width: 100% \9;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.page-content.custom-background {
    padding-top: 70px;
}
.padding-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-55 {
    margin-bottom: 55px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pt-120 {
    padding-top: 100px !important;
}
.pt-150 {
    padding-top: 150px !important;
}
.pt-160 {
    padding-top: 160px !important;
}
.pb-80 {
    padding-bottom: 80px !important;
}


/* ==========================================================================
    3. TYPOGRAPHY 
    ========================================================================= */

p,
a {
    color: #777777; 
}
p,
span {
    line-height: 22px;
}
p {
    padding-bottom: 20px;
    direction: rtl;
    text-align: right;
}
a {
    line-height: 22px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DroidKufi-Regular' !important;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
    color: #333;
    direction: rtl;
    text-align: right;
}

h1{
    font-size: 30px;
    line-height: 30px;
    direction: rtl;
    text-align: right;
}

h2{
    font-size: 24px;
    line-height: 26px;
    direction: rtl;
    text-align: right;
}

h3{
    font-size: 21px;
    line-height: 24px;
    direction: rtl;
    text-align: right;
}

h4{
    font-size: 18px;
    line-height: 22px;
    direction: rtl;
    text-align: right;
}

h5{
    font-size: 16px;
    line-height: 18px;
}

h6{
    font-size: 15px;
    line-height: 18px;
}
strong {
    font-weight: 600;
}
strong a:hover {
    text-decoration: underline;
}
.dark strong {
    color: #bbbbbb;
}
ul,
ol {
    list-style-position: inside;
    list-style-type: none;
}
ul li,
ol li {
    padding-bottom: 0;
}
.listy-style-none {
    list-style: none;
}
ul.list-border li,
ol.list-border li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 8px;
    padding-top: 3px;
}
ul.list-border li:last-child,
ol.list-border li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
ul.list-border li:first-child,
ol.list-border li:first-child {
    padding-top: 0;
}
.page-content ul {
    margin-bottom: 15px;
}
.page-content ul li{
    position: relative;
    font-size:14px;
}
blockquote + p {
    margin-top: 15px;
}


/* ==========================================================================
    4. HEADER
    ========================================================================= */

.header-wrapper {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-wrapper.header-transparent {
    background-color: transparent;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.header-wrapper.header-transparent.solid-color{
    background-color: #222222;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header-wrapper.header-transparent.solid-color .main-nav{
    background: #fff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.header-wrapper.header-transparent.solid-color .main-nav .navbar-default{
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#header{
    position: relative;
    z-index: 1000;
}
#search {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 30px;
    float: left;
    z-index: 1005;
    background-color: transparent;
    margin-top: 23px;
}
.search-submit {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 35px;
    min-height: 35px;
    border: none;
    text-indent: -9999px;
    float: right;
    cursor: pointer;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#search:focus,
.search-submit:focus,
#m_search:focus {
    outline: none;
}
#m_search {
    background: transparent;
    border-left: 1px solid #888888;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 5px 25px;
    float: left;
    width: 170px;
    font-style: italic;
    color: #ffffff;
    font-size: 13px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
#m_search:-ms-input-placeholder{
    color: #777777;
}

/* ==========================================================================
    4.1. MAIN NAVIGATION
    ========================================================================= */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: transparent;
}

.main-nav .row{
    margin-bottom: 0;
}

.main-nav{
    background: none !important;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    margin-top: 35px;

    -webkit-box-shadow: 0px -8px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -8px 0px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -8px 0px 0px rgba(0,0,0,0.15);
}

.navbar{
    min-height: 80px;
    margin-bottom: 0;
}

.navbar-default{
    background-color: #222222 !important;
    border: none;
    background: none;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-nav > li {
    padding-bottom: 0;
}

.navbar-nav>li>a{
    line-height: 48px;
    font-size: 13px;
    font-weight: 700;
    color: #dddddd;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a{
    color: #dddddd;    
}

.nav>li>a{
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu{
    background-color: #222222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #353535;
    min-width: 240px;
    padding: 0;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.2);
}

.dropdown .dropdown-menu .dropdown-submenu > a{
    position: relative;
}

.dropdown .dropdown-menu .dropdown-submenu > a:after{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #aaa;
    right: 0;
    top: 50%;
    margin-top: -3px;
}

.dropdown-menu>li{
    padding: 0;
}

.dropdown-menu>li>a{
    font-size: 13px;
    color: #dddddd;
    padding: 15px 20px;
    border-bottom: 1px solid #353535;
}

.dropdown-menu>li:last-child a{
    border: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background: none;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    left: 100%;
    top: -3px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown.dropdown-submenu > a {
    position: relative;
}

.navbar-header{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}

.navbar-collapse{
    float: left;
    padding: 0;
}
.navbar-toggle {
    margin-top: 14px;
}
.navbar-nav {
    margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #222222;
}

#top-bar-wrapper .row{
    margin-bottom: 0;
}
.icon-container {
    float: left;
}
.icon-container img {
    width: 100%;
}

#quick-links li{
    list-style: none;
    float: left;
    padding-right: 30px;
    padding-bottom: 0;
    font-size: 12px;
}

#quick-links li .icon-container{
    height: 22px;
    width: 22px;
    margin-right: 7px;
}
#quick-links li .icon-container svg{
    height: 22px;
}
#top-bar-wrapper #quick-links li span,
#top-bar-wrapper #quick-links li a{
    font-family: 'DroidKufi-Regular' !important;
    color: #999999;
}
#quick-links li strong {
    color: #bbbbbb;
}
#top-bar-wrapper{
    background-color: #222222;
    padding: 10px 0 10px;
    width: 100%;
}
#top-bar-wrapper .social-links {
    float: right;
}
.social-links li {
    float: left;
    margin-left: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background-image: none;
}
#header .dropdown-menu > li > a:hover, #header .dropdown-menu > li > a:focus {
    background: #2F2F2F;
    background-color: #2F2F2F !important;
    background-image: none;
    filter: none;
}

/* ==========================================================================
    5. PAGE TITLE
    ========================================================================= */

.page-title {
    padding-top: 205px !important;
    padding-bottom: 25px;
}
.page-title .row {
    margin-bottom: 0;
}
.page-title-1 {
    background-image: url('../img/page-titles/page-title-1.jpg');  
}
.page-title.dark .custom-heading.style-1 h1{
    color: #fff;
    font-size: 36px;
    line-height: 36px;
}
.page-title .custom-heading.style-1::after {
    display: none;
}

.breadcrumb {
    padding: 8px 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    float: left;
}
.dark .breadcrumb>li,
.dark .breadcrumb>li>a{
    color: #dddddd;
}

.breadcrumb.filters {
    float: left;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb.filters li {
    font-size: 15px;
    color: #dddddd;
    font-weight: 600;
}
.breadcrumb.filters li a {
    color: #333333;
}



/* ==========================================================================
    6. CUSTOM SECTION BACKGROUNDS
    ========================================================================= */

.custom-img-background {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.bkg-img1 {
    background-image: url('../img/pics/bkg-img1.jpg');
}
.bkg-img2 {
    background-image: url('../img/pics/bkg-img2.jpg');
}
.bkg-img3 {
    background-image: url('../img/pics/bkg-img3.html');
}
.bkg-img4 {
    background-image: url('../img/pics/bkg-img4.html');  
}
.page-content.dark h2,
.custom-background.dark h2,
.page-content.dark h3,
.custom-background.dark h3{
    color: #fff;
}
.page-content.dark h4,
.page-content.dark h5,
.page-content.dark h6,
.custom-background.dark h4,
.custom-background.dark h5,
.custom-background.dark h6,
.page-content.dark p,
.page-content.dark label,
.custom-background.dark p,
.custom-background.dark label,
.custom-background.dark li,
.custom-background.dark {
    color: #fff;
}

.custom-background.bkg-black{
    background-color: #000000;
}
.custom-background.bkg-darkgrey{
    background-color: #222222;
}
.custom-background.bkg-grey{
    background-color: #f8f8f8;
}


/* ==========================================================================
    7. ELEMENTS
    ========================================================================= */

/* ==========================================================================
    7.1. ACCORDION
    ========================================================================= */
#accordion .panel {
    box-shadow: none;
}
#accordion .panel-default {
    border: none;
}
#accordion .panel-default>.panel-heading {
    color: #333333;
    background-color: #fcfcfc;
    border: none;
    background-image: none;
}
#accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
}
#accordion .panel-title>a {
    font-size: 15px;
}
#accordion .panel-title>a:hover {
    color: #333333;
}
#accordion .panel-body {
    padding: 10px 0 10px 45px;
}
#accordion .panel-title .fa {
    margin-right: 10px;
}

/* ==========================================================================
    7.2. BUTTONS 
    ========================================================================= */
.btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    backface-visibility: hidden;
    border-radius: 0;
    padding: 15px 63px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: 'DroidKufi-Regular' !important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: block;
    z-index: 2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.btn-primary {
    background-color: #ffcc00;
    background-image: none;
    border: none;
    color: #222222;
}
.btn-primary:hover {
    background-color: #FFDD56;
    color: #222222;
}
.btn-primary:hover, .btn-primary:focus {
    background-position: 0;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus{
    color: #222222;
}
.btn:focus, .btn:active:focus {
    outline: none;
}
.btn-link {
    padding: 0;
    text-transform: none;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
}
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
.btn-link.read-more{
    position: relative;
    display: inline-block;
}

.btn-link.read-more span{
    font-family: 'DroidKufi-Regular' !important;
    text-transform: uppercase;
    font-weight: 700;  
    display: block;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.btn-link span{
    float: left;
}
.btn-link .icon-container {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.btn-link .icon-container svg{
    height: 22px;
}
/* ==========================================================================
    7.3. CUSTOM HEADINGS
    ========================================================================= */

.custom-heading {
    padding-bottom: 20px;
    direction: rtl;
    text-align: right;
}
.custom-heading h4 {
text-align: right;
    direction: rtl;
}
.custom-heading p {
    direction: rtl;
    text-align: right;
}
.custom-heading a:hover h4 {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    7.3.1. CUSTOM HEADING STYLE 1
    ========================================================================= */
.custom-heading.style-1 {
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 25px;
    text-align: right;
    direction: rtl;
}

.custom-heading.style-1::after {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    left: 0;
    bottom: 20px;
}

/* ==========================================================================
    7.3.2. CUSTOM HEADING STYLE 2 - CENTERED WITH SUBTITLE
    ========================================================================= */

.custom-heading.style-2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

.custom-heading.style-2 h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 5px;
    text-transform: none;
    text-align: center;
    margin-bottom: 0;
}

.custom-heading.style-2:after{
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

/* ==========================================================================
    7.4. GALLERIES
    ========================================================================= */

/* ==========================================================================
    7.4.1. ISOTOPE GALLERY
    ========================================================================= */
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.gallery-filters {
    margin-bottom: 40px;
}

ul#filters {
    display: inline-block;
}
#filters li {
    position: relative;
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    margin: 0 10px 0 10px;
    padding-left: 14px;
    list-style: none;
}
#filters li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
#filters li a {
    font-weight: 700;
    font-size: 18px;
    color: #777;
    padding-bottom: 5px;
}
#filters li a:hover, #filters .active a {
    border-bottom: 1px solid;
}
#galleryitems {
    margin-top: 0;
}
#galleryitems li {
    display: inline-block;
    list-style: none;
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 0 30px;
}
.isotopeitems-full .isotope-item {
    margin-bottom: 0;
    cursor: pointer;
    margin-right: -1px !important;
}
.gallery-img {
    position: relative;
}
#galleryitems .hover-mask-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.6);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

#galleryitems li:hover .hover-mask-container{
    opacity: 1;
}

#galleryitems li:hover .hover-zoom{
    transform: translate(0,0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

#galleryitems .icon-container {
    width: 22px;
    height: 22px;
    margin-right: 7px;
    float: right;
}
#galleryitems .icon-container svg {
    height: 22px;
}


/* ==========================================================================
    7.4.2. CAROUSEL GALLERY
    ========================================================================= */

.gallery-carousel-item .hover-mask-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.6);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.gallery-carousel-item:hover .hover-mask-container{
    opacity: 1;
}
#gallery-carousel .icon-container {
    float: right;
}
#gallery-carousel .icon-container{
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
#gallery-carousel .icon-container svg{
    height: 22px;
}
.hover-mask-container .hover-zoom{
    position: absolute;
    bottom: 15px;
    left: 15px;

    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.hover-mask-container .hover-zoom a{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 15px;
    font-family: 'DroidKufi-Regular' !important;
    font-weight: 600;
}

.gallery-carousel-item:hover .hover-zoom{
    transform: translate(0,0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

.carousel-wrapper {
    padding: 70px 0;
    background-color: #333333;
}
.gallery-carousel-item img {
    width: auto;
}

#gallery-carousel .owl-controls {
    top: 50%;
    position: absolute;
    margin-top: -25px;
    width: 100%;
}
#gallery-carousel .owl-controls .owl-buttons .owl-next {
    right: 15px;
    position: absolute;
}
#gallery-carousel .owl-controls .owl-buttons .owl-prev {
    left: 15px;
    position: absolute;
}
#gallery-carousel .item {
    position: relative;
    margin: 0 10px;
}

/* ==========================================================================
    7.4.3. SIMPLE GALLERY WITH THUMBNAILS
    ========================================================================= */

.simple-gallery .gallery-thumb img{
    width: 175px;
}
.simple-gallery .gallery-thumbnails {
    text-align: center;
}
.simple-gallery .gallery-thumb {
    margin-right: 11px;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
}
.simple-gallery .gallery-thumb:last-child {
    margin-right: 0;
}
.simple-gallery .gallery-thumb:hover {
    opacity: 0.8 !important;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

/* ==========================================================================
    7.5. OWL CAROUSEL - GENERAl
    ============================================================================= */

.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 0;
    margin-right: 5px;
    background: rgba(0,0,0,0.6) url(../img/svg/arrowPrev.svg) no-Repeat 10px 11px !important;
    background-size: 28px !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev:hover {
    background: rgba(0,0,0,0.9) url(../img/svg/arrowPrev.svg) no-Repeat 10px 11px !important;
    background-size: 28px !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 0;
    background: rgba(0,0,0,0.6) url(../img/svg/arrowNext.svg) no-Repeat 12px 11px !important;
    background-size: 28px !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-next:hover {
    background: rgba(0,0,0,0.9) url(../img/svg/arrowNext.svg) no-Repeat 12px 11px !important;
    background-size: 28px !important;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev,
.owl-carousel .owl-controls .owl-buttons .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-indent: -99999px;
    top: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
/* ==========================================================================
    7.6. QUOTES
    ========================================================================= */

.quote-btn {
    margin-top: 45px;
}

/* ==========================================================================
    7.6.1. QUOTE STYLE 1
    ========================================================================= */

.quote.style-1 {
    padding: 0;
}
.quote.style-1 .quote-content {
    padding: 55px 0;
    text-align: right;
}

/* ==========================================================================
    7.6.2. QUOTE STYLE 2
    ========================================================================= */

.quote.style-2 {
    padding-bottom: 135px;
    padding-top: 135px;
}
.quote.style-2 .text{
    width: 750px;
    margin: 0 auto 20px auto;
    font-size: 24px;
    text-align: center;
    
    
}
.quote.style-2 .text p,
.quote .author-name {
    
}
.quote.style-2 .text p{
    line-height: 47px;
} 
.quote .author-name {
    font-size: 18px;
}

/* ==========================================================================
    7.6.3. QUOTE STYLE 3
    ========================================================================= */

.quote.style-3 {
    display: block;
    background-color: #222222;
    padding: 25px 22px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.quote.style-3 .icon-container {
    float: left;
    margin-right: 12px;
    width: 60px;
    height: 60px;
}
.quote.style-3 .icon-container svg {
    height: 60px;
}
.quote.style-3 h4 {
    color: #fff;
}
.quote.style-3 p {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
    color: #bbb;
    padding-bottom: 0;
}
.quote.style-3 .custom-heading {
    padding-bottom: 0;
}
.quote.style-3 .custom-heading:after {
    display: none;
}

/* ==========================================================================
    7.7. SERVICES FEATURE BOX
    ========================================================================= */

.negative-top-margin{
    margin-top: -160px;
    position: relative;
    z-index: 100;
}

.feature-box .feature-media{
    position: relative;
    overflow: hidden;
}

.feature-box .featre-media span{
    color: #fff;    
    padding-left: 20px;
    font-weight: 600;
}

.feature-box.style-1 .feature-body{
    background-color: rgba(0,0,0,0.7);
    padding: 25px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.feature-box.style-1 .feature-body p {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
}

.feature-box.style-1 .feature-body h4 {
    color: #fff;
}
.feature-box.style-1 .feature-body a:hover h4 {
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}
.feature-box.style-1 .feature-body p {
    color: #bbb;
    padding-bottom: 0;
}
.feature-box.style-1 .custom-heading::after {
    display: none;
}
.feature-box.style-1 .custom-heading {
    padding-bottom: 0;
}
.feature-box.style-1 .icon-container {
    float: left;
    margin-right: 12px;
    height: 60px;
}

.feature-box.style-2 .feature-media img{
    width: 100%;
    transition: all 2s ease-in-out 0s;
    -webkit-transition: all 2s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    -o-transition: all 2s ease-in-out 0s;

    opacity: 1;
}

.feature-box.style-2 .feature-media:hover img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);

    opacity: 0.7
}

.feature-box.style-2 .feature-media a{
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}
.feature-box .feature-media .icon-container{
    width: 50px;
    height: 50px; 
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;

    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.feature-box.style-2 .feature-body{
    background-color: #fff;
    padding: 30px 0 0;
}
.feature-box.style-1 a.read-more span{
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
}
.feature-box.style-2 a.read-more span {
    color: #222222;
}
.feature-box.style-2 a.read-more {
    width: 50px;
    height: 50px;
}

.feature-box.style-2 .custom-heading.style-1 {
    padding-bottom: 20px;
}
.feature-box.style-2 .custom-heading.style-1::after {
    bottom: 15px;
}

.feature-box.style-2 .feature-media .icon-container{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
}
.feature-box.style-2 .feature-media .icon-container svg{
    height: 30px;
}
.features-boxes-wrapper {
    float: left;
}
.features-boxes-wrapper .feature-box{
    margin-bottom: 40px;
}
.fa-ul {
    margin-left: 0 !important;
}
.fa-ul li {
    position: relative;
    padding-left: 25px;
}
.fa-ul li:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f178';
    font-family: 'FontAwesome';
    font-size: 15px;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}


/* ==========================================================================
    7.8. TEAM MEMBERS 
    ========================================================================= */

.team-member figure {
    position: relative;
    width: 100%;
}
.team-member figcaption {
    padding: 10px 0 0 0;
    max-width: 100%;
    font-size: 14px;
}
.team-member .custom-heading {
    padding-bottom: 30px;
}
.team-member .custom-heading.style-1::after {
    bottom: 25px;
}
.team-member figcaption .member-name {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #252525;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.team-member figcaption .member-position {
    padding-bottom: 5px;
    color: #666666;
    font-style: italic;
    font-size: 13px;
}
.team-member img {
    width: 100%;
    display: block;
}
.team-member figcaption {
    width: 100%;
    opacity: 1;
}
.team-member figcaption .member-name,
.team-member figcaption .member-position,
.team-member figcaption .member-about {
    line-height: 22px;
}


/* ==========================================================================
    7.9. TESTIMONIALS
    ========================================================================= */

/* ==========================================================================
    7.9.1. TESTIMONIAL CAROUSEL
    ========================================================================= */

#testimonial-carousel .testimonial-background {
    position: relative;
    background-color: #ffffff;
    padding: 30px 0;
    border-bottom: 2px solid;
}
#testimonial-carousel p {
    line-height: 23px;
    font-size: 16px;
    color: #666666;
    font-style: italic;
    font-weight: 300;
    padding: 0 30px;
}
#testimonial-carousel .testimonial-author, 
#testimonial-carousel .testimonial-author-position {
    font-family: 'Montserrat-Light', Arial, sans-serif;
    padding: 0;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    display: inline-block;
    margin-top: 25px;
    font-style: normal;
}

#testimonial-carousel .testimonial-background:after {
    border-right: transparent solid 7px;
    border-top: solid 7px;
    border-left: solid transparent 7px;
    bottom: -8px;
    content: " ";
    height: 0;
    left: 35px;
    position: absolute;
}

#testimonial-carousel .owl-buttons .owl-prev,
#testimonial-carousel .owl-buttons .owl-next {
    background-color: #4a4a4a;
}
#testimonial-carousel .owl-buttons {
    top: -80px;
    position: absolute;
    right: 0;
}

#testimonial-carousel .item {
    margin: 0 15px;
}


/* ==========================================================================
    7.9.2. TESTIMONIAL CAROUSEL STYLE 2 - WIDGET
    ========================================================================= */

#testimonial-carousel.style-2 .testimonial-background {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
#testimonial-carousel.style-2 .item {
    margin: 0;
}



/* ==========================================================================
    8. NEWS
============================================================================= */

/* ==========================================================================
    8.1. LATEST POSTS
============================================================================= */

.post-details h4,
.post-details h6 {
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
}

.pi-latest-post .post-details .fa {
    font-size: 40px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
}

.pi-latest-posts li{
    list-style: none;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.pi-latest-posts li:last-child{
    margin-bottom: 0;
}

.pi-latest-posts li .post-media{
    width: 165px;
    height: 100px;
    float: left;
    margin-bottom: 0;
}

.pi-latest-posts li .post-details{
    padding-left: 180px;
}

.pi-latest-posts li .post-details h5{
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    margin-bottom: 10px;
}

.pi-latest-posts .post-date p,
.pi-latest-post .post-date p {
    color: #888888;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    padding-bottom: 5px;
}

.pi-latest-posts .post-date i{
    padding-right: 3px;
    font-size: 18px;
}

/* ==========================================================================
    8.2. NEWS LIST
    ========================================================================= */


.blog-posts li{
    list-style: none;
}

.blog-posts .pagination{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    float: right;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {  
    background-color: #222222;
    border-color: #222222;
}
.pagination>li>a {
    padding: 5px 10px;
    font-size: 13px;
    color: #666666;
    margin-left: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pagination>li>a:before {
    font-weight: 800;
}
.pagination>li:active>a{
    color: #fff;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #666666; 
}

.blog-post .post-body h3{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.blog-post .post-media {
    margin-bottom: 25px;
}
.blog-posts.post-list .blog-post{
    padding-bottom: 40px;
}

.post-list .blog-post .post-date p,
.post-single .blog-post .post-date p{
    color: #888888;
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 13px;
    padding-bottom: 5px;
    text-align: left;
    float: left;
    direction: ltr;
}
.post-list .blog-post .icon-container i,
.post-single .blog-post .icon-container i {
    padding-right: 3px;
    font-size: 36px;
}
.post-list .icon-container {
    height: 130px;
    padding-right: 20px;
}

.post-list .blog-post .post-body h3{
    font-size: 18px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    8.3. NEWS SINGLE POST
    ========================================================================= */

.post-media{
    width: 100%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 25px;
}

.post-media .post-img img{
    -webkit-transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    -ms-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
    opacity: 1;
}

.post-media .post-img:hover img{
    opacity: 0.7;

    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
}
.post-single .blog-post .icon-container {
    width: 50px;
    float: left;
}
.post-single .blog-post .post-body {
    margin-left: 55px;
}

/*  POST COMMENTS
    ------------------------------------------------------------------------- */

.post-comments {
    float: right;
}
.comments-li > li:last-child,
.comments-li > li:last-child .comment{
    border: none;
    margin-bottom: 0;
}
.comments-li .comment {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 30px;
    margin-top: 35px;
}

.comments-li .comment a.avatar img {
    max-width: none;
}

.comments-li .comment .date {
    font-size: 13px;
    font-style: italic;
    padding-bottom: 10px;
}
.media-heading.author {
    font-family: 'DroidKufi-Regular' !important;
    color: #252525;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}
.comments-li .comment .media-left,
.comments-li .comment .media>.pull-left {
    padding-right: 20px;
}
.comments-li .comment .comment-body {
    margin-left: 100px;
    margin-top: 15px;
}
.comments-li .comment .comment-reply-link {
    display: block;
    margin-top: 0;
    padding-left: 22px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    float: right;
    -webkit-transition:none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.comments-li .comment .comment-reply-link .fa {
    margin-right: 8px;
    font-size: 15px;
    -webkit-transition:none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.comments-li .comment.child {
    float: left;
} 


/*  COMMENT FORM
    ------------------------------------------------------------------------ */
.form-control {
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}
#commentform {
    margin-top: 10px;
}
.comment-form{
    width: 100%;
    float: left;
}

.comment-form .form-group{
    width: 50%;
    float: right;
    padding-right: 30px;
    margin-bottom: 20px;
}

.comment-form .form-group:nth-child(2),
.comment-form .form-group:nth-child(3){
    padding-right: 0;
}

.comment-form .wpcf7-message{
    width: 100%;
}

.comment-form label{
    width: 100%;
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    color: #444444;
    text-align: right;
    direction: rtl;
}
.required {
    color: #ce292d;
}
.italic {
    font-style: italic;
    color: #444444;
}

/* ==========================================================================
    9. CONTACT
    ========================================================================= */
#map{
    height: 420px;

}
.comment-form{
    width: 100%;
    float: left;
}

.contact-form .form-group{
    width: 50%;
    float: left;
    padding-right: 30px;
}
.contact-form .form-group.wpcf7-message{
    width: 100%;
}

.contact-form .form-group:nth-child(2),
.contact-form .form-group:nth-child(3){
    padding-right: 0;
}

.contact-form label{
    display: block;
    font-size: 13px;
    color: #444444;
    float: right;
    direction: rtl;
    text-align: right;
}

.wpcf7 .form-group{
    margin-bottom: 20px;
}

.wpcf7 label{
    width: 100%;
    padding-bottom: 10px;
    float: right;
    text-align: right;
    direction: rtl;
}
.wpcf7-text {
    float: right;
    position: relative;
    
    margin-left: 40px;
    display: inline-block;
}
.wpcf7-text, 
.wpcf7-select,
.wpcf7-textarea{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px 15px;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #777777;
    font-weight: 700;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #777777;
    font-weight: 700;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #777777;
    font-weight: 700;
}

/* ==========================================================================
    10. WIDGETS
    ========================================================================= */
.aside {
    float: left;
}
.aside-widgets > li{
    list-style: none;
}

.aside ul ul {
    padding-left: 0;
}
.aside .sub-menu {
    margin-bottom: 0;
}

.widget{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    float: left;
}

.widget .title h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.aside .widget ul > li{
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    display: block;
    padding: 13px 15px;
    border: 1px solid #eeeeee;
    margin-bottom: 2px;
    position: relative;
}

/* ==========================================================================
    10.1. NAV MENU WIDGET
    ========================================================================= */

.widget_nav_menu ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget_nav_menu ul > li .fa, .widget_nav_menu ul > li a {
    float: left;
}
.widget_nav_menu ul > li {
    position: relative;
    background: none;
    background-image: none !important;
    float: left;
    width: 100%;
}
.widget_nav_menu ul > li .fa {
    margin-top: 3px;
}
.widget_nav_menu a .fa {
    margin-right: 7px;
}
.widget_nav_menu ul > li p {
    padding: 0 0 0 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.aside_widgets .widget_nav_menu ul li{
    background-position: right center;
    padding-left: 0;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-right: none;
    border-top: none;
}

.aside_widgets .widget_nav_menu ul li:last-child{
    border-bottom: none;
}

.aside_widgets .widget_nav_menu .menu .menu-item {
    width: 100%;   
    list-style: none;    
}

.aside_widgets .widget_nav_menu .menu .menu-item:last-child {
    border-bottom: 1px solid #eee;
}

.aside_widgets .widget_nav_menu .menu .menu-item.menu-item-has-children {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
}

.aside_widgets .widget_nav_menu .sub-menu .menu-item {
    border-top: none;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #eee;
}

.aside_widgets .widget_nav_menu .menu .sub-menu .menu-item:last-child {
    border-bottom: none;
}

.aside_widgets .widget_nav_menu .menu .menu-item.menu-item-has-children > a{
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 0;
    width: 100%;
    display: block;

}
/* ==========================================================================
    10.2. TEXT WIDGET
    ========================================================================= */

.widget-text ul li{
    padding-left: 0;
    margin-bottom: 10px;
}
.widget-text ul li span {
    color: #777777;
}
.widget-text ul li span .fa{
    margin-right: 5px;
}
.widget-text ul li a:hover span {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget-text .icon-container{
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.widget-text .icon-container svg {
    height: 22px;
}
.widget-text .title {
    margin-bottom: 20px;
}
.widget-text ul .strong-item {
    font-family: 'DroidKufi-Regular' !important;
    padding: 13px 15px;
    text-align: right;
    direction: rtl;
}
.widget img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
    clear: both;
}
.widget_text select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

/* ==========================================================================
    10.3. LATEST POSTS WIDGET
    ========================================================================= */

.widget_recent_entries ul > li{
    position: relative;
    background: none;
    background-image: none !important;
    float: left;
    width: 100%;
}
.widget_recent_entries ul > li .fa {
    margin-top: 3px;
}
.widget_recent_entries ul > li .fa,
.widget_recent_entries ul > li a{
    float: left;
}
.widget_recent_entries ul > li a{
    width: 100%;
}
.widget_recent_entries ul > li p{
    padding: 0 0 0 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget_recent_entries span {
    font-style: italic;
    color: inherit;
    margin-left: 5px;
}

/* ==========================================================================
    10.4. ARCHIVES WIDGET
    ========================================================================= */

.widget_archive ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget_archive select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ==========================================================================
    10.5. CATEGORIES WIDGET
    ========================================================================= */

.widget_categories ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget_categories select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

/* ==========================================================================
    10.6. PAGES WIDGET
    ========================================================================= */

.widget_pages ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    10.7. META WIDGET
    ========================================================================= */

.widget_meta ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    10.8. CALENDAR WIDGET
    ========================================================================= */

table tbody tr td:first-child {
    text-align: left;
    color: #333;
    font-weight: 700;
}
table tbody tr td {
    padding: 10px;
    text-align: center;
}
table thead tr th {
    padding: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
table tbody {
    background-color: #fcfcfc;
}
.widget.widget_calendar #wp-calendar{
    width: 100%;
}

.widget.widget_calendar #wp-calendar caption{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.widget.widget_calendar #wp-calendar thead{
    background: #222222;
}

.widget.widget_calendar #wp-calendar tfoot{
    background: #fafafa;
    padding-top: 5px;
}

.widget.widget_calendar #wp-calendar tfoot #prev{
    text-align: left;
    padding: 5px;
}

.widget.widget_calendar #wp-calendar tfoot #next{
    text-align: right;
    padding: 5px;
}

.widget.widget_calendar #wp-calendar td,
.widget.widget_calendar #wp-calendar th{
    text-align: center;
}

.widget.widget_calendar #wp-calendar #today {
    color: #fff;
    background-color: #222;
    font-weight: 700;
}

.widget.widget_calendar #wp-calendar #today a{
    color: #fff;
    padding: 5px;
}

/* ==========================================================================
    10.9. RECENT COMMENTS WIDGET
    ========================================================================= */

.widget_recent_comments ul li {
    list-style: none;
    border-bottom: 1px solid #eee;
    background-position: 0 11px;
}
.widget_recent_comments ul li .date {
    padding: 2px 10px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
.recentcomments{
    font-weight: bold;
}
.widget_recent_comments .recentcomments a {
    font-style: italic;
    font-weight: normal;
}
.recentcomments span{
    font-weight: normal;
}
.widget_recent_comments .recentcomments a:hover {
    text-decoration: underline;
}
.widget_recent_comments ul li a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 9px;
    top: 12px;
    right: 15px;
    font-style: normal;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    10.10. RSS WIDGET
    ========================================================================= */

.widget_rss ul li{
    border-bottom: 1px solid #eee;
    background-position: 0 11px;
}

/* ==========================================================================
    10.11. SEARCH WIDGET
    ========================================================================= */

.widget_search form {
    position: relative;
}
.widget_search .a_search {
    background-color: #fff;
    border: 1px solid #eeeeee;
    width: 100%;
    display: block;
    color: #777;
    font-style: italic;
    left: 0;
    top: 0;
    padding: 10px 60px 10px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.widget_search .search-submit {
    background-image: url('../img/search.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 100%;
    border: none;
    text-indent: -9999px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    min-height: 40px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
}

/* ==========================================================================
    10.12. TAG CLOUD WIDGET
    ========================================================================= */

.widget_tag_cloud .tagcloud a {
    padding: 5px 15px;
    background-color: #222;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.widget_tag_cloud .tagcloud a:hover {
    color: #333333;
} 

/* ==========================================================================
    10.13. SHARRRE WIDGET
    ========================================================================= */

.pixely_widget_sharrre {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pixely_widget_sharrre li {
    list-style: none;
    float: left;
    width: 67px;
    margin-right: 30px;
    margin-top: 10px;
    background: none;
    padding-left: 0 !important;
}
.pixely_widget_sharrre li:nth-child(4n) {
    margin-right: 0;
}
.pixely_widget_sharrre li a {
    border: none;
    padding: 0;
}
.pixely_widget_sharrre .box .share {
    width: 68px;
    height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.pixely_widget_sharrre .box .share::before {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    font-size: 14px;
    width: 14px;
    height: 18px;
    margin-top: -11px;
    margin-left: -14px;
    color: #fff;
}
.pixely_widget_sharrre .sharrre-facebook .box .share {
    background-color: #3b5998;
}
.pixely_widget_sharrre .sharrre-facebook .box .share:hover {
    background-color: #5772aa;
}
.pixely_widget_sharrre .sharrre-twitter .box .share {
    background-color: #00abf0;
}
.pixely_widget_sharrre .sharrre-twitter .box .share:hover {
    background-color: #14BAFD;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share {
    background-color: #489dc9;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share:hover {
    background-color: #62B6E2;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share {
    background-color: #dd4b39;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share:hover {
    background-color: #EC6251;
}
.pixely_widget_sharrre .sharrre-facebook .box .share::before {
    content: "\f09a";
    font-family: 'FontAwesome';
}
.pixely_widget_sharrre .sharrre-twitter .box .share::before {
    content: "\f099";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share::before {
    content: "\f0d5";
    font-family: 'FontAwesome';
}
.pixely_widget_sharrre .sharrre-digg .box .share::before {
    content: "\f1a6";
    font-family: 'FontAwesome';
    margin-left: -18px;
}
.pixely_widget_sharrre .sharrre-delicious .box .share::before {
    content: "\f1a5";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-stumbleupon .box .share::before {
    content: "\f1a4";
    font-family: 'FontAwesome';
    margin-left: -18px;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share::before {
    content: "\f0e1";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-pinterest .box .share::before {
    content: "\f0d2";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .box .share:hover::before {
    color: #fff;
}
.pixely_widget_sharrre .box .count,
.pixely_widget_sharrre .box .sharrre-text {
    text-align: center;
}
.pixely_widget_sharrre .box .count {
    position: relative;
    color: #3a383a;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    border: 1px solid #bbbbbb;
    max-width: 75%;
    line-height: 31px;
    margin: 0 auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pixely_widget_sharrre .box .count::after,
.pixely_widget_sharrre .box .count::before {
    margin: 0 auto;
    content: " ";
    height: 0;
    left: 0;
    width: 6px;
    right: 0;
    position: absolute;
}
.pixely_widget_sharrre .box .count::after {
    bottom: -5px;
    border-left: transparent solid 4px;
    border-right: solid transparent 4px;
    border-top: solid 5px;
    color: #fff;
}
.pixely_widget_sharrre .box .count::before {
    bottom: -6px;
    border-left: transparent solid 5px;
    border-right: solid transparent 5px;
    border-top: solid 6px;
    color: #bbb;
}
.pixely_widget_sharrre .box .sharrre-text {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    padding-top: 8px;
    padding-left: 16px;
    font-family: Arial, sans-serif;
}

/* ==========================================================================
     11. FOOTER
    ========================================================================= */
#footer .row{
    margin-bottom: 60px;
}

#footer-wrapper{
    padding-top: 60px;
    position: relative;
    background-color: #222222;
}
#footer-wrapper .icon-container {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
#footer-wrapper .icon-container svg {
    height: 22px;
}

#footer-wrapper p,
#footer-wrapper a,
#footer-wrapper span,
.copyright-container p,
.copyright-container a,
.copyright-container span{
    font-family: 'DroidKufi-Regular' !important;
    color: #999999;
    font-size: 12px;
}
#footer-wrapper span strong {
    color: #bbbbbb;
}
.footer-info {
    padding: 20px 0;
}
#copyright-container{
    padding: 20px 0;
    background-color: #111111; 
    font-family: 'DroidKufi-Regular' !important;
}

#copyright-container .row{
    margin-bottom: 0;
}
#copyright-container p {
    padding-bottom: 0;
}
#copyright-container a,
#copyright-container p,
#copyright-container span{
    font-size: 12px;
}
#copyright-container a,
#copyright-container strong{
    color: #bbbbbb;
}
#copyright-container .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    float:left;
}
#copyright-container .breadcrumb>li+li:before {
    display: none;
}
#copyright-container .breadcrumb>li {
    margin-left: 13px;
}
.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    z-index: 1;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #000;
    opacity: 0.8;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
}
.show-scroll{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
}
.hide-scroll{
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
}
.scroll-up .icon-container{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -13px;
    margin-left: -13px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}
.scroll-up .icon-container svg {
    height: 26px;
}
.scroll-up:hover .icon-container,
.scroll-up:hover .icon-container{
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
}
.scroll-up:hover {
    opacity: 0.8;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.heading-desc{
    color: #fff;
    font-size: 19px !important;
    font-weight: normal;
    font-family: 'DroidKufi-Regular' !important;
    margin-top: 15px;
}


p,span {
    line-height: 22px;
}
.newtext p {
    font-size: 150%;
    line-height: 32px;
}
.head-title h2 {
    margin-bottom: 30px;
}
.champions-descriptions p {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
}
.champions-descriptions p:before {
    
}
/* media queries */
@media (max-width:768px) {
    .negative-top-margin{
    margin-top:20px;
    position: relative;
    z-index: 100;
    } 
    .presentation-content {
        background: #333;
    }
    .tb-formobile {
        font-size: 32px !important;
    }
    .tb-smallformobile {
        font-size: 16px !important;
        margin-top: 75px;
    }
    .language {
        float: right;
    }
    #top-bar-wrapper .social-links {
        float: left;
        left: 0;
    }
}

@media (min-width:768px) {
    
}

@media (min-width:992px) {
    
}

@media (min-width:1200px) {
    
}

