@font-face {
	font-family: 'hacen';
	src: url('../fonts/hacen.eot');
	src: url('../fonts/hacen.eot?#iefix') format('embedded-opentype'), url('fonts/hacen.woff') format('woff'), url('../fonts/hacen.ttf') format('truetype'), url('fonts/hacen.svg#hacen') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
font-family: 'DroidKufi-Regular';
src: url('../fonts/DroidKufi-Regular.eot');
src: url('../fonts/DroidKufi-Regular.eot?') format('embedded-opentype'),
url('../fonts/DroidKufi-Regular.woff') format('woff'),
url('../fonts/DroidKufi-Regular.ttf') format('truetype'); 
}

@font-face {
font-family: 'CoconNextArabic-Light';
src: url('../fonts/CoconNextArabic-Light.eot');
src: url('../fonts/CoconNextArabic-Light.eot?') format('embedded-opentype'),
url('../fonts/CoconNextArabic-Light.woff') format('woff'),
url('../fonts/CoconNextArabic-Light.ttf') format('truetype'); 
}

@font-face {
font-family: 'ge_flow_regular';
src: url('../fonts/ge_flow_regular.eot');
src: url('../fonts/ge_flow_regular.eot?') format('embedded-opentype'),
url('../fonts/ge_flow_regular.ttf') format('truetype'); 
}

@font-face { 
font-family: 'DroidKufi-Regular';
src: url('../fonts/DroidKufi-Regular.eot');
src: url('../fonts/DroidKufi-Regular.eot?') format('embedded-opentype'),
url('../fonts/DroidKufi-Regular.woff') format('woff'),
url('../fonts/DroidKufi-Regular.ttf') format('truetype'); }

@font-face {
  font-family: 'AvantGarde-Thin';
  src: url('../fonts/AvantGarde-Thin.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde-Thin';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'),
        url('../fonts/AvantGarde-Thin.ttf')  format('truetype'),
        url('../fonts/AvantGarde-Thin.svg#AvantGarde-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"),
       url("../../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), 
       url("../../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"),
       url("../../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"),
       url("../../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

body, h1, h2, h3, h4, h5, h6 { font-family: 'ge_flow_regular' !important; }
.uneditable-input, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"],input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"],button , .page-content .breadcrumb , .page-sidebar {
    font-family: 'ge_flow_regular' !important;
}
.bg {
    background-image: url(../../images/bg.jpg);
    background-size: cover; 
    -webkit-background-size: cover;  -moz-background-size: cover; 
    -ms-background-size: cover; 
    position: fixed;
    width: 100%;
    height: 100%;
}
input[type="text"] , input[type="password"] , select , .form-control {
    border-radius: 0;
    width: 100%;
}
/*   admin panel  logon style */

.logon .panel , .logon .panel-default , .dashboard .panel-default , .dashboard .panel{
    border-radius: 0;
}
.logon {
    margin-top: 60px;
}
.logon button {
    margin-top: 10px;
    padding: 7px 30px;
}
.logon input[type="checkbox"] {
    margin: 3px 10px;
}
.logon input[type="text"] , .logon input[type="password"] , .logon button , .logon .input-group-addon {
    border-radius: 0;
}
.logon .panel-default , .dashboard .panel-default {
    border-top: 4px solid #999;
}
.logon .panel-heading , .dashboard .panel-heading {
    padding: 3px 20px ;
    background: #f9f9f9;
}

.logon .bg-danger {
    padding: 10px;
}

.panel-body {
    background: #fff;
}

/*ul.nav-tabs  li a {
    background: #0B4C5F ;
    color: #fff;
    margin-right: 3px;
}
ul.nav-tabs  li.active a {
    background: #F2F2F2 !important;
}*/

.label-admin {
    width: 20%;
}
.meta-action {
    width: 10%;
}
.pagination-centered {
    text-align: center;
}

.image_wrapper {
    border: 1px solid #ccc;
    padding:10px;
    height: 200px;
    margin: 10px 0px;
    overflow: hidden;
}
.image_wrapper img {
    width: 100%;
    height: 150px;
}
.image_wrapper input[type="checkbox"]{
    
    
}
.btn {
    border-radius: 0;
}
.comments_numbers .btn   {
    font-size: 10px;
    padding:4px 8px;
    margin-top: 3px;
}

.well-success {
    background: #c1e2b3;
    padding: 13px 20px;
}.well-success span {
    color: #666; font-size: 17px;
}
.product-table td.odd
{
    width: 15%;
}

.price-label {
    text-align: right;
    margin-top: 10px;
    margin-right: -10px;
}
iframe {overflow: scroll; overflow-x: hidden; overflow-y: scroll;}
#tab5photos img {border:5px solid darkcyan;}
#tab5photos .input-append {padding-bottom: 5px;display: block;}
#tab5photos .fieldname {
    margin-top: 30px;
}
#tab5photos .form-control {
    width: 70%;
    float: left;
}
#tab5photos .btn-del {
     margin-top: 30px;
}

.fontinteger {
    font-family: 'Open Sans' !important;
}

.dashboard-bowling {
    background: #fff;padding: 20px 40px;
}
.dashboard-bowling input[type="text"] {
    font-family: 'Open Sans' !important;
}
.dashboard-bowling .frame-box label {
    text-align:center;font-family:'Open Sans'!important;
}
.dashboard-bowling table {
    direction: ltr;
}
.dashboard-bowling .score-fields input[type="text"] {
    width: 48.5%;display: inline-block;height: 40px;
    text-align: center;
}
.dashboard-bowling .score-fields + input[type="text"] {
    height: 60px; text-align: center;
}
.dashboard-bowling .frame-buttons {
    border: #eee; background: #f7f7f7; border-radius: 5px;
    padding: 20px;margin: 5px 5px 40px 5px;
    font-family: 'Open Sans' !important;
}
.dashboard-bowling .frame-buttons .btn {
    padding: 15px 25px;
    font-family: 'Open Sans' !important;
}

.dashboard-bowling button  {
    padding: 15px 25px;
    font-family: 'Open Sans' !important;
    margin-right: 15px;
}
#myModal2 h3 , #myModal3 h3{
    font-family: 'Open Sans' !important;
    padding: 10px 40px 40px 40px;
    text-align: center;
}
#myModal2 h4 , #myModal3 h4{
    font-family: 'Open Sans' !important;
    padding: 10px;
}
#myModal2 p , #myModal3 p {
    text-align: center;
}
#myModal2 .modal-fa , #myModal3 .modal-fa{
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}
.player-personal-photo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: block;
    margin: auto;
}

.user-profile-pic img {
    height: 98px !important;
    width: 98px !important;
}

@media (min-width:768px) {
    .dashboard-bowling .score-fields input[type="text"] {
        width: 47.5%;display: inline-block;height: 40px;
        text-align: center;
        }
    .dashboard-bowling .score-fields + input[type="text"] {
        height: 60px; text-align: center;
    }
    .dashboard-bowling .frame-buttons .btn {
        padding: 15px 20px;
        font-family: 'Open Sans' !important;
        margin-right: 8px;
    }
}